/* Color Link Activo NavBar */
.nav-tabs {
    border-bottom: 1px solid #99c3be !important;
}

.nav-link.active {
    background-color: #99c3be !important;
    border-color: transparent !important;
}

/* Formulario de Contacto */

/* Margen de todo el formulario */
.form {
    margin-top: 13vh !important;
}

/* Columna izquierda del formulario */
.formIzquierda{
    padding-top: 5vh;
}

/* Centrar mapa */
.formMapa {
    text-align: center;
}

/* Estilo del mapa */
.formMapa iframe {
    border-radius: 0.25rem;
    box-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff;
}

/* Media Query Mapa */
@media (max-width: 768px) {
    .formMapaSM iframe{
         width: 400px;
         height: 200px;
     }
 }

/* Estilo items formulario izquierda */
.formItems {
    font-size: 1rem;
    color: #979797;
    margin-top: 2vh;
}

/* Estilo contenedor de los items */
.formSvg {
    display: flex;
    justify-content: center;
}

/* Estilo imagen de los items */
.formSvg svg{
    margin-right: 1em;
    align-self: center;
}

/* Estilo formulario margen derecha */
.form form {
    padding-top: 5vh;
}

/* Cajas del formulario */
.formCajas {
    padding-top: 2%;
    padding-right: 10% !important;
}

.formCajas input {
    box-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff;
    color: #979797 !important;
    background-color: #ebf3f2 !important;
    border: 1px solid #979797 !important;
}

.formCajas input:focus {
    outline: none !important;
    box-shadow: 0 0 10px #99c3be;
    border: 1px solid #99c3be !important;
  }

.formCajas textarea {
    box-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff;
    color: #979797 !important;
    background-color: #ebf3f2 !important;
    border: 1px solid #979797 !important;
}

.formCajas textarea:focus{
    outline: none !important;
    box-shadow: 0 0 10px #99c3be;
    border: 1px solid #99c3be !important;
}

/* Media Query Formulario */
@media (max-width: 768px) {
    .formCajasSM {
         padding-right: 3% !important;
     }
 }

/* Boton del formulario */
.formBoton {
    padding-top: 3%;
    text-align: -webkit-right;
    padding-right: 10% !important;
}

.boton__M {
    font-size: 1rem;
    background: #99c3be;
    color: #f5f9f8;
    padding: 0.2em 1.2em;
    padding-left: 1.2em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.boton__M span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.boton__M button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(0.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(0.5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/* Mensaje del formulario */
.formMsj{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: #979797;
    text-align: center;
    padding-right: 10% !important;
}

/* Media Query Formulario */
@media (max-width: 768px) {
    .formMsjSM {
         padding-right: 3% !important;
     }
 }