/* General */
* {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro';
}

/* Contenido Centrado General*/
.centrarContenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Barra de Navegacion */
.barraNavegacion {
    background-color: #979797;
    color: #fbf6f7;
    font-size: 1.2rem;
}

a {
    color: #fbf6f7 !important;
}

/* Hover */
.nav-link.inicio:hover{
    background-color: #dba5b4;
    border-color: transparent !important;
}

.nav-link.sobre:hover{
    background-color: #e2c0bb;
    border-color: transparent !important;
    color: #979797 !important;
}

.nav-link.cursos:hover{
    background-color: #f4e5a8;
    border-color: transparent !important;
    color: #979797 !important;
}

.nav-link.praxis:hover{
    background-color: #bad1b8;
    border-color: transparent !important;
}

.nav-link.contacto:hover{
    background-color: #99c3be;
    border-color: transparent !important;
}

/* Pie de Pagina */

/* Footer Texto */
.pie{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #979797;
}

/* Footer RRSS Contenedor */
.pieRRSS{
    background-color: transparent;
}

/* Footer RRSS Imagenes */
.pieImgRRSS{
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
}

/* Footer Texto 2 (BEM) */
.pieTexto{
    background-color: transparent;
    color: #fbf6f7;
    font-size: 1.2rem;
}

